* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Open Sans;
}

.container .header {
  width: 100%;
  height: 48vh;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(46, 47, 58, 0.945)),
      to(rgba(46, 47, 58, 0.432))
    ),
    url(/landpage/imagens/fundo.jpeg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  z-index: 10;
}

img {
  height: 38px;
  width: 159px;
  margin-left: 16.5vw;
  margin-top: 3vh;
}

.text .primeiro {
  display: inline-block;
  letter-spacing: 2px;
  margin-top: 4.7vw;
  margin-left: 31vh;
  color: #858d99;
  line-height: 100%;
  font-weight: 700;
  font-size: 12px;
}

.text .segundo {
  margin-left: 16.6vw;
  margin-top: 40px;
  font-size: 50px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -1.6px;
  color: #fff;
}

.text .terceiro {
  margin-top: 2vh;
  margin-left: 16.6vw;
  background-color: #2c2e3800;
  color: rgba(255, 255, 255, 0.61);
  font-family: Circular, sans-serif;
  font-size: 17px;
  line-height: 160%;
  font-weight: 600;
}

.meio {
  width: 100%;
  height: 969.72px;
}

.meio .box {
  box-shadow: grey 1px 1px 10px 1px;
  position: relative;
  float: right;
  margin-right: 16vw;
  top: -100px;
  width: 25%;
  height: 950px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.box {
  height: 15vh;
}

.box h2 {
  text-align: center;
  margin-top: 30px;
  font-weight: 500;
  font-size: 28px;
}

.inputao {
  font-size: 15px;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  gap: 5px;
  margin-top: 40px;
}

.input-box {
  line-height: 40px;
  width: 100%;
  height: auto;
  min-height: 2.5em;
}

.input-box2 {
  line-height: 40px;
  width: 100%;
  height: auto;
  min-height: 2.5em;
}
input[type='text'] {
  padding: 0.5em 0.75em !important;
  height: 40px;
  width: 100%;
  border: 1px solid #b4b4b4;
}

.selecao {
  line-height: 40px;
  margin-top: -15px;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  width: 78%;
  float: left;
  line-height: 40px;
  font-size: 15px;
}

select {
  border: 1px solid #b4b4b4;
  width: 78%;
  height: 40px;
  font-weight: 600;
  padding-left: 10px;
  font-size: 15px;
}

input[type='button'] {
  width: 180.63px;
  height: 60.03px;
  background-color: #45a84a;
  border-radius: 50px;
  border: 0;
  font-size: 20px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

input[type='button']:hover {
  background-color: #91b692;
}

.botao {
  margin-top: 30px;
  width: 100%;
  height: 72px;
  padding-left: 50px;
}

.text1 {
  width: 100%;
  height: 100%;
}

.titulo h2 {
  width: 41%;
  height: auto;
  text-align: center;
  margin-top: 50px;
  margin-left: 310px;
  font-size: 26px;
  font-weight: 600 bold;
  text-align: left;
}

.sub p {
  width: 41%;
  line-height: 29px;
  height: auto;
  text-align: center;
  margin-top: 20px;
  margin-left: 310px;
  text-align: left;
  font-weight: 600;
  font-size: 16.8px;
  color: #2c2e388f;
}

.sub ul {
  width: 40%;
  line-height: 29px;
  height: auto;
  text-align: center;
  margin-top: 20px;
  margin-left: 330px;
  text-align: left;
  font-weight: 600;
  font-size: 16.8px;
  color: #2c2e388f;
}

.titulo2 h2 {
  width: 41%;
  height: auto;
  text-align: center;
  margin-top: 50px;
  margin-left: 310px;
  font-size: 26px;
  font-weight: 500;
  text-align: left;
}

footer {
  width: 100%;
  height: 395.78px;
  background-color: #e8ecef;
}

footer img {
  width: 48px;
  height: 43px;
  margin-left: 50%;
}

footer .footer-title {
  text-align: center;
  color: #2c2e388f;
  margin-top: 2vh;
  margin-left: 2.5vw;
  font-weight: 200;
}

footer .paragrafo {
  width: 100%;
  text-align: center;
  line-height: 90px;
  font-size: 12px;
  font-weight: 500;
  color: #2c2e38b4;
}

footer .direitos {
  text-align: center;
  width: 30vw;
  display: flex;
  margin: auto;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: #2c2e38b4;
}

footer .direitos * {
  margin: auto;
  text-decoration: none;
  color: #2c2e38b4;
  font-size: small;
  font-weight: 600;
}

footer a:hover {
  color: #2c2e382c;
  cursor: pointer;
}

footer .social * {
  color: #2c2e3825;
  width: 24px;
  height: 24px;
  display: flex;
  margin: auto;
  gap: 50px;
  margin-right: 52.5%;
  margin-top: 10px;
}
